/*Style for applying background*/
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background: url('/img/food5.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/*Navbar styling*/
.navbar {
    background-color: #ffebfe;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(65, 45, 64, 0.1);
}

/*Recipeeez logo styling*/
.navbar .navbar-brand {
    color: rgb(109, 45, 106);
    font-weight: bold;
    font-size: 2rem;
}

/*Navbar items design*/
.navbar .nav-link {
    color: rgb(150, 107, 148);
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

/*Navbar items hover design*/
.navbar .nav-link:hover {
    color: rgb(196, 161, 194);
    text-decoration: underline;
}

/*Homepage header design*/
h1 {
    font-size: 36px;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: rgb(155, 120, 153);
    text-shadow: 3px 3px 3px rgb(221, 200, 220);
    margin-bottom: 20px;
    text-transform: uppercase;
}

/*Explore recipes button in homepage styling*/
button.btn-primary {
    background-color: #331931;
    color: rgb(243, 236, 236);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Explore recipes button in homepage styling*/
button.btn-primary:hover {
    background-color: #b491b1;
}

/*Login button styling*/
button.btn-outline-primary {
    background-color: #331931;
    color: rgb(243, 236, 236);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Login button styling*/
button.btn-outline-primary:hover {
    background-color: #b491b1;
}

/*Logout button styling*/
#logoutBtn {
    background-color: #331931;
    color: rgb(243, 236, 236);
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Logout button styling*/
#logoutBtn:hover {
    background-color: #b491b1;
    cursor: pointer;
}

/*recipe cards styling*/
.recipe-card {
    border: 2px solid #ddd;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 100%;
}

/*recipe cards header styling*/
.recipe-card h5 {
    font-size: 2rem;
    margin-bottom: 15px;
}

/*recipe cards paragraph styling*/
.recipe-card p {
    font-size: 1.5rem;
    height: 250px;
    overflow-y: auto;
}